body{
  box-sizing: border-box;
  line-height: 1;
  width: 100%;
  height: 1800px;
  background-color: #f5f1dd;

}
// Css Reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
ol, ul {
  list-style: none; }
blockquote, q {
  quotes: none; }
blockquote {
  &:before, &:after {
    content: '';
    content: none; } }
q {
  &:before, &:after {
    content: '';
    content: none; } }
table {
  border-collapse: collapse;
  border-spacing: 0; }
img{
  width:100%;
  height:auto;
}
* {
  margin: 0;
  padding: 0;
}

.block1 {
  width: 15%;
  height: 500px;
  background-color: black;
  position: absolute;
  top: 16%;
  left: 4%;
  font-size: 24px;
  transition-duration: 2s, 3s;
}



.block2 {
  width: 15%;
  height: 500px;
  background-color: black;
  position: absolute;
  top: 16%;
  left: 23%;
  display: flex;
  justify-content: space-between;
  background-image: url(./img/f2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: -webkit-center;
}

.block3 {
  width: 15%;
  height: 500px;
  background-color: black;
  position: absolute;
  top: 16%;
  left: 42%;
  display: flex;
  justify-content: space-between;
  background-image: url(./img/a3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.block4 {
  width: 15%;
  height: 500px;
  background-color: black;
  position: absolute;
  top: 16%;
  left: 61%;
  display: flex;
  justify-content: space-between;
  background-image: url(./img/a4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.block5 {
  width: 15%;
  height: 500px;
  background-color: black;
  position: absolute;
  top: 16%;
  left: 80%;
  display: flex;
  justify-content: space-between;
  background-image: url(./img/a5.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
}

.second {
  width: 400px;
  transform: rotate(45deg);
  overflow: hidden;
  padding-top: 550px;
  padding-left: 550px;
  position: absolute;
  > img {
    max-width: 100%;
    transform: rotate(-45deg) scale(1.42);
    margin-bottom: 0px;
  }
}

.third {
  width: 400px;
  transform: rotate(44deg);
  overflow: hidden;
  position: absolute;
  padding-left: -20px;
  top: 895px;
  > img {
    max-width: 100%;
    transform: rotate(-10deg) scale(1.1);
  }
}

.chetiri {
  width: 300px;
  transform: rotate(90deg);
  overflow: hidden;
  position: absolute;
  top: 800px;
  left: 700px;
  > img {
    max-width: 100%;
    transform: rotate(-45deg) scale(1.112);
  }
}

.pat {
  width: 400px;
  transform: rotate(0deg);
  overflow: hidden;
  position: absolute;
  top: 700px;
  left: 800px;
  > img {
    max-width: 100%;
    transform: rotate(-40deg) scale(1.112);
  }
}

.treyg {
  position: absolute;
  top: 897px;
  left: 1170px;
  overflow: hidden;
  width: 150px;
  > img {
    max-width: 100%;
    transform: rotate(20deg) scale(1.112);
  }
}

h2 {
  border-bottom: 1px solid black;
  margin: 10px 0px 40px;
  color: #111;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}

.crashed_mirror {
  width:100%;
}

.maz1 {
  position: absolute;
  top: 1090px;
  left: 160px;
  overflow: hidden;
  width: 350px;
  > img {
    max-width: 100%;
    transform: rotate(410deg) scale(1.112);
  }
}

.maz2 {
  position: absolute;
  top: 1197px;
  left: 3px;
  overflow: hidden;
  width: 150px;
  > img {
    max-width: 100%;
    transform: rotate(20deg) scale(1.112);
  }
}

.maz3 {
  position: absolute;
  top: 1250px;
  left: 540px;
  overflow: hidden;
  width: 450px;
  > img {
    max-width: 100%;
    transform: rotate(-60deg) scale(1.112);
  }
}

.maz4 {
  position: absolute;
  top: 1300px;
  left: 900px;
  overflow: hidden;
  width: 400px;
  > img {
    max-width: 100%;
    transform: rotate(+60deg) scale(1.112);
  }
}
