header{
background-image: url(../img/main4.jpg);
background-repeat: no-repeat;
background-position: top center;
min-height: 600px;
background-size: cover;
position: relative;
}
.top_line{
  min-height: 90px;
  box-shadow: rgba(255,255,255,.3) 0 0 0 1px;

  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,.50);
  padding: 22px 0;
}
.top_adr{
  padding-left: 70px;
  background-image: url(../img/icons1.png);
  background-repeat: no-repeat;
  background-position: center left;
  padding-top: 5px;
line-height: 26px;
}
.top_adr strong{
  display: block;
  color: #e87272;
  text-transform: uppercase;

  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
}
header a{
  color: #fff;
  font-size: 15px;
}
.top_adr a{
  font-size: 17px;
  border-bottom: #fff dashed 1px;
}
.top_line a:hover{
  border-bottom: transparent 1px dashed;
  transition: all.25s;
}
.top_line.logo{
  border-bottom: none;
  border-radius: 15px;

}
.top_line.logo:hover{
  border-bottom: none;
}
.logo_barb{
  border-radius: 50px;
}
.logo_wrap{
  position: relative;
  width: 175px;
  margin: auto;
}
.logo{
position: absolute;
  margin-top: -15px;
}
.ta_right{
  background-image: none;
  padding-left: 0;
  text-align: right;
}
.ta_right span{
  color: #fff;
}
.top_mnu{
  height: 62px;
  background-color: #a1804c;
opacity: 0.9;
  text-transform: uppercase;
}
.top_mnu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.top_mnu a{
  color: #fff;
  font-size: 20px;
  padding: 0 50px;
display: block;
margin-left: 30px;
line-height: 60px;
text-align: center;
border-left: #d4ac6e 1px solid;

}
.top_mnu li{
  display: inline-block;

}
