@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Gugi|Roboto|Yanone+Kaffeesatz|Ubuntu|Open+Sans+Condensed:300|Lobster');
body{
  font-family: Roboto;
  margin: 0;
 background-color: #f5f1dd;
 background-image: url(../img/texture-noise@1x.png);

color: #111;
}
.proj{
  display: flex;
  flex-direction: column;
}
a{
  margin-bottom: 0;
  text-decoration: none;
  color:#111;}
a:hover{
  text-decoration:underline;
  transition: 1s;
}
#heading{
  text-align: center;
  font-family: 'Gugi',cursive
}
#up{
  padding-top: 2%;
  margin: 0;
  background:url(../img/b.jpg);
  background-size: 130%;
  background-repeat: no-repeat;}
  #uptext{

  font-family: Roboto;

  text-align: center;
  color: #111;  
}
#up h1{
  margin-bottom: 0;
  padding-bottom: 2%; 
}
svg{
  border-bottom: 2px solid #111;
}
#uptext{
  padding-top: 1%;
}
#logo{

  margin:auto;
  text-align: center;
  
  padding: 2% 20%;
  margin:0 20%;
}
#masters{
  text-align: center;
}
.block .img{
display: flex;
align-items: center;
}

.block{
  padding: 3% 15%;
   padding-top: 1%;
  justify-content: space-around;
  display: flex;
  background-color: #f5f1dd;
 background-image: url(../img/texture-noise@1x.png);
}
.side{padding-left: 10%;
  display: flex;
  flex-direction: column;

}
.side p{
  font-size: 18px;
  text-align: justify;
   font-family: Roboto;
   line-height:   150%;
}
.mid{

  text-align: center;
  font-family: Roboto;
}
.wrapper {
  height: 37.5vw;
  margin: 100px auto 0;
  position: relative;
  width: 60vw;
}

.slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 { background-image: url(../img/int1.jpg);
background-size: 100%;
background-repeat: none }
.slide2 { background-image: url(../img/int2.jpg);
background-size: 100%;
background-repeat: none }
.slide3 { background-image: url(../img/int3.jpg);
background-size: 100%;
background-repeat: none }
.slide4 { background-image: url(../img/int4.jpg);
background-size: 100%;
background-repeat: none }
.slide5 { background-image: url(../img/int5.jpg);
background-size: 100%;
background-repeat: none }
.slide6 { background-image: url(../img/int6.jpg);
background-size: 100%;
background-repeat: none }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5,
#slide6:checked ~ .slider > .slide6 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.wrapper > input {
  display: none;
}

.wrapper .controls {
  left: 50%;
  margin-left: -98px;
  position: absolute;
}

.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  -moz-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5),
#slide6:checked ~ .controls label:nth-of-type(6) {
  background: #666;
}

.wrapper label:after {
  border: 2px solid #666;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.split{
  
  text-align: justify;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
  background-image: url(../img/intb.jpg);
  height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.split p{
  padding: 1%;
  border: 1px solid  #f5f1dd;
  border-radius: 10px;
  background-image:url(../img/texture-noise@1x.png); 
  background-color:#f5f1dd;
 opacity:0.9; 
}
.rightext{
  padding-left: 10%;
}
section{
  font-family: Roboto;
  

}
section #services {
  padding-bottom: 2%;
  box-shadow: -2px 0px 3px #111;
  
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
 padding-top: 2%;
  margin: 80px 0px 40px;
  color: #111;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 120px;
  height: 120px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: none;
  transition: all 0.3s ease;
}
section #services li a {
  color: #77cc6d;
}
section #services li div:hover {

  transform: scale(1.05);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #111;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

  /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 053 css*/
        .jssorb053 .i {position:absolute;cursor:pointer;}
        .jssorb053 .i .b {fill:#333;fill-opacity:0.5;}
        .jssorb053 .i:hover .b {fill-opacity:.7;}
        .jssorb053 .iav .b {fill-opacity: 1;}
        .jssorb053 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 093 css*/
        .jssora093 {display:block;position:absolute;cursor:pointer;}
        .jssora093 .c {fill:none;stroke:#111;stroke-width:400;stroke-miterlimit:10;}
        .jssora093 .a {fill:none;stroke:#111;stroke-width:400;stroke-miterlimit:10;}
        .jssora093:hover {opacity:.8;}
        .jssora093.jssora093dn {opacity:.6;}
        .jssora093.jssora093ds {opacity:.3;pointer-events:none;}

@media(min-width: 0px) and (max-width: 620px){
  body{
  

 
 background-size: 100vh;

color: #111;
}
#up{
background-size: cover; 
  }

.block{
  padding: 3% 7%;
  flex-direction: column;
}
.side{
      font-size: 14px;
  padding: 0;
}
.block img{

  text-align: center;
  width: 60%;
  height: 60%;
}
.img{
  display: flex;
  justify-content: space-around;
}

.wrapper {
  padding-top: 2%;
  margin:auto  0;
  height: 60vw;
  margin:  0;
  position: relative;
  width: 100vw;
}

.split{
flex-basis: 33%;
  font-size: 12px;
}
#jssor_1{
  height: 500%;
}
ul, menu, dir {
    -webkit-padding-start: 0;
}
.wrapper .controls {
  left: 45%;}
}
