//- footer.pug
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='../scss/index.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat+Alternates', rel='stylesheet')
  body
    footer
      .footer1
        .col-1
          p.footer__name
            | © 2018 Uniq barbershop®
            br
            | Особое место для современных волевых мужчин!
        .col-1
          p.footer__name
            | Наши партнеры:
            br
            | Uniq webstudio
        .col-1
          p.footer__name
            | Почта:  laninegor11@gmail.com
            br
            | vladyslav.valiukh@gmai.com
