footer
  .footer1
    .col-1
      p.footer__name
        span © 2018 Uniq barbershop®
        br
        | Особое место для современных волевых мужчин!
    .col-2
      p.footer__name
        span Наши партнеры:
        br
        | Uniq webstudio
      a.icons_footer(href='#')
        img.icons_foot(src='../img/inst.png', alt='Instagram')
      a.icons_footer(href='#')
        img.icons_foot1(src='../img/face.png', alt='facebook')
      a.icons_footer(href='#')
        img.icons_foot2(src='../img/twit.png', alt='Twitter')
    .col-3
      p.footer__name
        span Почта:
        |   laninegor11@gmail.com
        br
        | vladyslav.valiukh@gmai.com
