doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(href='../scss/gallery.min.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  body
    .first
      .block1
        img(src='./img/fd1.jpg', alt='block1')
      .block2
        img(src='./img/fd2.jpg', alt='block1')
      .block3
        img(src='./img/fd3.jpg', alt='block1')
      .block4
        img(src='./img/fd4.jpg', alt='block1')
      .block5
        img(src='./img/fd5.jpg', alt='block1')
    h2 Наши работы
    .crashed_mirror
      .second
        img(src='./img/b4.jpg', alt='second')
      .third
        img(src='./img/b5.jpg', alt='second')
      .chetiri
        img(src='./img/b1.jpg', alt='second')
      .pat
        img(src='./img/b2.jpg', alt='second')
      .treyg
        img(src='./img/fd2.jpg', alt='second')
      .maz1
        img(src='./img/fd2.jpg', alt='second')
      .maz2
        img(src='./img/fd1.jpg', alt='second')
      .maz3
        img(src='./img/fd4.jpg', alt='second')
      .maz4
        img(src='./img/b6.jpg', alt='second')
    
