doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(href='../scss/gallery.min.css', rel='stylesheet')
    link(rel="stylesheet" href="../scss/footer.css")
    link(rel="stylesheet" href="../scss/header.css")
    link(rel="stylesheet" href="../scss/about.css")
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css')
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  body
    include header.pug
    .true_crashed_mirror
      .part
        .one
          img(src="../img/1block.png")
        .two
          img(src="../img/2block.png")
        .three
          img(src="../img/3block.png")
        .four
          img(src="../img/4block.png")
        .five  
          img(src="../img/6block.png")
        .six  
          img(src="../img/5block.png")
        .seven 
          img(src="../img/7block.png")
        .eight  
          img(src="../img/8block.png")
    .my_slider
            h1 My Basic Slider
            #slider
              a.control_next >
              a.control_prev <
              ul
                li 
                  img(src="../img/b1.jpg")
                li(style='background: #aaa;')
                  img(src="../img/b1.jpg")
                li 
                  img(src="../img/b1.jpg")
                li(style='background: #aaa;') 
                  img(src="../img/b1.jpg")
            .slider_option
              input#checkbox(type='button')
              label(for='checkbox') Autoplay Slider
    include footer.pug
    script(src='//code.jquery.com/jquery-1.12.4.js')
    script(src='//code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='../js/shake.js')
    script(src="../js/slider.js")
