nav.top_mnu
    .container
      .row
        ul.ul_menu
          li.active
            a(href='/main') Главная
          li
            a(href='/about') О нас
          li
            a(href='/prices') Цены
          li
            a(href='/gallery') Наши работы
          li
            a(href='/contacts') Контакты
