doctype HTML5
html
  head
    link(rel="stylesheet" href="../scss/index.css") 
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
  body
    header
      .top_line
        .container
          .row
            .col-md-4
              .top_adr
                strong Киев
                a.fancybox(href='#map') ул. Большая Житомирская 8
            .col-md-4
              .logo_wrap
                a.logo(href='#')
                  img.logo_barb(src='../img/icons.jpg', alt='Барбершоп')
            .col-md-4
              .top_adr.ta_right
                strong
                  | +380
                  span (98)1079974
                  br
                  | +380
                  span (96)6891007
    nav.top_mnu
      .container
        .row
          ul
            li.active
              a(href='#') Главная
            li
              a(href='#') О нас
            li
              a(href='#') Цены
            li
              a(href='#') Наши работы
            li
              a(href='#') Контакты
        
