doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='../scss/main.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat+Alternates', rel='stylesheet')
    title Барбершоп Uniq
  body
    header
      include header.pug
      .top_line
        .container
          .row
            .col-md-4
              .top_adr
                strong Киев
                a.fancybox(href='#map') ул. Большая Житомирская 8
            .col-md-4
              .logo_wrap
                a.logo(href='#')
                  img.logo_barb(src='../img/icons.jpg', alt='Барбершоп')
            .col-md-4
              .top_adr.ta_right
                strong
                  | +380
                  span (98)1079974
                  br
                  | +380
                  span (96)6891007
    .bgcol
      .services
        .services__item
          img.ph1(src='../img/barber.jpg', alt='barber')
          p
        .services__item
          .serv
            p
              | Заведение представляет собой современный мужской клуб, где можно подстричься без лишней выдумки – со вкусом, стильно и сдержанно. Кроме стрижек волос мы предоставляем услуги по стрижке бороды и усов, бритье опасной бритвой, камуфлирование седины, а также профессиональная укладка волос.
              | В нашем барбершопе Вас всегда обслужат спокойные и опытные мастера, знающие толк в традиционных методиках.
            p
              | Главный акцент — высокий уровень профессионализма сотрудников и особая атмосфера.
              | Barbershop Uniq
              br
              |  — это место для мужчин, которые смотрят в будущее, но при этом уважают и ценят традиции!
    footer
      .footer1
        .col-1
          p.footer__name
            span © 2018 Uniq barbershop®
            br
            | Особое место для современных волевых мужчин!
        .col-2
          p.footer__name
            span Наши партнеры:
            br
            | Uniq webstudio
          a.icons_footer(href='#')
            img.icons_foot(src='../img/inst.png', alt='Instagram')
          a.icons_footer(href='#')
            img.icons_foot1(src='../img/face.png', alt='facebook')
          a.icons_footer(href='#')
            img.icons_foot2(src='../img/twit.png', alt='Twitter')
        .col-3
          p.footer__name
            span Почта:
            |   laninegor11@gmail.com
            br
            | vladyslav.valiukh@gmai.com
