<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
  <meta  name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
 
<link rel="stylesheet" type="text/css" href="../scss/main1.css" />

<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
</head>
<body>
   <div id="up">
    <div id="heading"><h1>BARBERSHOP</h1></div>
    <div id=logo>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 40 40" style="enable-background:new 0 0 40 40" xml:space="preserve">
  <g>
    <path class="st0" d="M20,40L0,20L20,0l20,20L20,40z M1,20l19,19l19-19L20,1L1,20z"></path>
  </g>
  <g>
    <rect class="st0" x="8.8" y="19.3" width="2.6" height="0.4"></rect>
    <rect class="st0" x="8.8" y="20.4" width="5.6" height="0.4"></rect>
    <rect class="st0" x="25.5" y="19.3" width="5.6" height="0.4"></rect>
    <rect class="st0" x="25.5" y="20.4" width="5.6" height="0.4"></rect>
    <g>
      <g>
        <path class="st0" d="M19.5,23.1l-1.1-1.5L14.6,13c0,0-0.2-0.4-0.2-0.8c0-0.1,0-0.5,0-0.5l6.1,9.9L19.5,23.1z"></path>
      </g>
      <path class="st0" d="M25.3,25c-0.4-1-1.2-1.4-2.4-1.4c0.1-0.3,0.1-0.7,0-1.1c-0.4-1.1-1.5-0.9-2.5-0.9c-0.2,0-0.4,0-0.5,0v0.6                  c0.2,0,0.4,0,0.6,0c1.1,0,1.7-0.1,1.9,0.5c0.1,0.2,0.1,0.6,0,0.8c-0.2,0.3-0.6,0.4-0.9,0.4l0.1,0.6c0.4-0.2,0.9-0.3,0.9-0.3                  c0.1,0,0.2-0.1,0.3-0.1c1.1-0.1,1.8,0.3,2.1,1.1c0.2,0.5,0.2,1.2-0.2,1.7c-0.3,0.5-0.8,0.8-1.5,0.8c-0.2,0-0.4,0-0.6,0l-0.1,0.5                  c0.2,0,0.4,0,0.6,0c0,0,0.1,0,0.1,0c0.7,0,1.4-0.4,1.9-1C25.5,26.6,25.6,25.7,25.3,25z"></path>
      <g>
        <polygon class="st0" points="22.6,28.3 19.9,22.4 20.1,21.1 23.3,28       "></polygon>
      </g>
      <polygon class="st0" points="19.4,22.1 20.1,23.6 20.9,23.6 20,22.1     "></polygon>
      <polygon class="st0" points="21,23.9 20.1,23.6 20.1,22.9 20.8,23.1     "></polygon>
      <polygon class="st0" points="21.4,21.4 20.7,22.8 20,22.8 20.8,21.3     "></polygon>
    </g>
    <g>
      <g>
        <path class="st0" d="M20.3,23.1l1.1-1.5l3.9-8.6c0,0,0.2-0.4,0.2-0.8c0-0.1,0-0.5,0-0.5l-6.1,9.9L20.3,23.1z"></path>
      </g>
      <path class="st0" d="M14.5,25c0.4-1,1.2-1.4,2.4-1.4c-0.1-0.3-0.1-0.7,0-1.1c0.4-1.1,1.5-0.9,2.5-0.9c0.2,0,0.4,0,0.5,0v0.6                  c-0.2,0-0.4,0-0.6,0c-1.1,0-1.7-0.1-1.9,0.5c-0.1,0.2-0.1,0.6,0,0.8c0.2,0.3,0.6,0.4,0.9,0.4l-0.1,0.6c-0.4-0.2-0.9-0.3-0.9-0.3                  c-0.1,0-0.2-0.1-0.3-0.1c-1.1-0.1-1.8,0.3-2.1,1.1c-0.2,0.5-0.2,1.2,0.2,1.7c0.3,0.5,0.8,0.8,1.5,0.8c0.2,0,0.4,0,0.6,0l0.1,0.5                  c-0.2,0-0.4,0-0.6,0c0,0-0.1,0-0.1,0c-0.7,0-1.4-0.4-1.9-1C14.3,26.6,14.2,25.7,14.5,25z"></path>
      <g>
        <polygon class="st0" points="17.2,28.3 20,22.4 19.7,21.1 16.5,28       "></polygon>
      </g>
      <polygon class="st0" points="20.4,22.1 19.7,23.6 19,23.6 19.8,22.1     "></polygon>
    </div>
  </div>
  <div id=uptext>
      <a href="#"><h1>УСЛУГИ	</h1></a> 
    </div>  
 <div id="project">
  
  <div class="column">
    <div class="block">
      <div class="img">
        <img src="../img/hair1.jpg">
      </div> 
      <div class="side">
        <div class="main">
        <div class="upside">
        <div class="upside1">
         <a href="#"><h1>мужская стрижка</h1></a>
        </div>
        <div class="upside2">
         <h2>350 ГРН</h2>
        </div>
      </div>
        <p>
В современном мире у мужчин имеется большое количество возможностей сделать свою внешность более выразительной. Для этого не имеется такого разнообразия методов, как для изменения внешнего вида женщин, но все же они есть. Первое, что стремятся изменить мужчины на пути к переменам во внешности это прическа. Главное при этом выбрать правильную стрижку. Мужские стрижки в современном…</p>
</div>
          <div class="button-container-2">
    <span class="mas">ЗАПИСЬ</span>
  <button type="button" name="Hover">ЗАПИСЬ</button> 
      </div>
      </div>
    </div>

 </div>
 <div class="column">
    <div class="block">
      <div class="img">
        <img src="../img/hair2.png">
      </div> 
      <div class="side">
        <div class="main">
        <div class="upside">
        <div class="upside1">
         <a href="#"><h1>детская стрижка</h1></a>
        </div>
        <div class="upside2">
         <h2>250 ГРН</h2>
        </div>
      </div>
        <p>
Любому родителю очень важно с самых ранних лет жизни ребенка приучить его к тому, чтобы он очень внимательно относился к своей внешности. Начать можно со смены причесок. У детей обычно волосы отрастают очень быстро, поэтому нужно вовремя их стричь. Для мальчиков сегодня имеется большое многообразие всевозможных стрижек. Для того чтобы малыши и их родители в…</p>
</div>
          <div class="button-container-2">
    <span class="mas">ЗАПИСЬ</span>
  <button type="button" name="Hover">ЗАПИСЬ</button> 
      </div>
      </div>
    </div>

 </div>
 <div class="column">
    <div class="block">
      <div class="img">
        <img src="../img/hair3.jpg">
      </div> 
      <div class="side">
        <div class="main">
        <div class="upside">
        <div class="upside1">
         <a href="#"><h1>отец+сын</h1></a>
        </div>
        <div class="upside2">
         <h2>550 ГРН</h2>
        </div>
      </div>
        <p>
В каждой семье, где имеется сын, отец должен подавать ему пример. Только в семье можно создавать традиции, которые в своей последующей жизни ребенку захочется соблюдать. Отличной традицией для отца и сына в Киеве может стать поход в барбершоп. Забота о своей внешности на примере отца у ребенка может появиться с самого раннего возраста и присутствовать…</p>
</div>
          <div class="button-container-2">
    <span class="mas">ЗАПИСЬ</span>
  <button type="button" name="Hover">ЗАПИСЬ</button> 
      </div>
      </div>
    </div>

 </div>
 <div class="column">
    <div class="block">
      <div class="img">
        <img src="../img/hair4.jpg">
      </div> 
      <div class="side">
        <div class="main">
        <div class="upside">
        <div class="upside1">
         <a href="#"><h1>укладка</h1></a>
        </div>
        <div class="upside2">
         <h2>100 ГРН</h2>
        </div>
      </div>
        <p>
Для мужчины прическа является настолько же важной, что и для каждой женщины. Она представляет собой не только необходимый стилистический элемент, но и позволяет добиваться успехов в своих личных делах и в бизнесе. Благодаря укладке в Киеве у каждого мужчины имеется возможность добиться отличных результатов в своей карьере и о многих других начинаниях, потому что он…</p>
</div>
          <div class="button-container-2">
    <span class="mas">ЗАПИСЬ</span>
  <button type="button" name="Hover">ЗАПИСЬ</button> 
      </div>
      </div>
    </div>

 </div>
 <div class="column">
    <div class="block">
      <div class="img">
        <img src="../img/hair5.jpg">
      </div> 
      <div class="side">
        <div class="main">
        <div class="upside">
        <div class="upside1">
         <a href="#"><h1>стрижка машинкой</h1></a>
        </div>
        <div class="upside2">
         <h2>200 ГРН</h2>
        </div>
      </div>
        <p>

В современном мире нередко встречаются мужчины, которые питают большую любовь к стрижкам машинкой. При помощи данного инструмента имеется возможность получать короткие волосы, которые всегда выглядят опрятно и аккуратно. Стрижка машинкой в Киеве подходит для мужчин, ведущих активный образ жизни. Они пользуются наибольшей популярностью у людей следующих профессий: спортсмены; сотрудники полиции; военные пожарные; люди строительных специальностей;…</p>
</div>
          <div class="button-container-2">
    <span class="mas">ЗАПИСЬ</span>
  <button type="button" name="Hover">ЗАПИСЬ</button> 
      </div>
      </div>
    </div>

 </div>
 <div class="column">
    <div class="block">
      <div class="img">
        <img src="../img/hair6.jpg">
      </div> 
      <div class="side">
        <div class="main">
        <div class="upside">
        <div class="upside1">
         <a href="#"><h1>стрижка бороды</h1></a>
        </div>
        <div class="upside2">
         <h2>200 ГРН</h2>
        </div>
      </div>
        <p>В последнее время мужские бороды прочно вошли в мужскую моду. У них имеется большое количество поклонников, которые считают частью своего неповторимого стиля именно их. Многие женщины считают мужчин с бородой привлекательными и мужественными. При наличии бороды появляется необходимость осуществлять за ней надлежащий уход. Она должна всегда выглядеть опрятно и аккуратно, с чем в домашних условиях…</p>
</div>
          <div class="button-container-2">
    <span class="mas">ЗАПИСЬ</span>
  <button type="button" name="Hover">ЗАПИСЬ</button> 
      </div>
      </div>
    </div>

 </div>
 <div class="column">
    <div class="block">
      <div class="img">
        <img src="../img/hair7.jpg">
      </div> 
      <div class="side">
        <div class="main">
        <div class="upside">
        <div class="upside1">
         <a href="#"><h1>стрижка усов</h1></a>
        </div>
        <div class="upside2">
         <h2>75 ГРН</h2>
        </div>
      </div>
        <p>
Сегодня нередко встречаются мужчины, которые являются обладателями усов и бороды. Для того чтобы опрятно и аккуратно выглядеть в любой ситуации очень важно за усами правильно ухаживать. Они не терпят к себе пренебрежительного отношения. С появлением в Киеве барбершопов проблему стрижки усов для многих мужчин удалось решить. Ведь именно здесь без труда имеется возможность найти для…</p>
</div>
          <div class="button-container-2">
    <span class="mas">ЗАПИСЬ</span>
  <button type="button" name="Hover">ЗАПИСЬ</button> 
      </div>
      </div>
    </div>

 </div>
 <div class="column">
    <div class="block">
      <div class="img">
        <img src="../img/hair8.png">
      </div> 
      <div class="side">
        <div class="main">
        <div class="upside">
        <div class="upside1">
         <a href="#"><h1>бритье опасной бритвой</h1></a>
        </div>
        <div class="upside2">
         <h2>250 ГРН</h2>
        </div>
      </div>
        <p>
Для того чтобы выглядеть привлекательно мужчинам требуется ухаживать за собой, и для этого используется множество средств и методов. В частности многим не нравится щетина лице. Поэтому для получения желаемого внешнего вида применяется техника бритья. Мужчинам приходится затрачивать на это действие много времени. Некоторым требуется бритье с периодичностью в один-два раза в неделю, другие вовсе вынуждены…</p>
</div>
          <div class="button-container-2">
    <span class="mas">ЗАПИСЬ</span>
  <button type="button" name="Hover">ЗАПИСЬ</button> 
      </div>
      </div>
    </div>

 </div>
 <div class="column">
    <div class="block">
      <div class="img">
        <img src="../img/hair9.jpg">
      </div> 
      <div class="side">
        <div class="main">
        <div class="upside">
        <div class="upside1">
         <a href="#"><h1>массаж</h1></a>
        </div>
        <div class="upside2">
         <h2>200 ГРН</h2>
        </div>
      </div>
        <p>
Процедура массаж представляет собой дозированное механическое воздействие на все тело человека или на какой-то его орган. Данное воздействие осуществляется руками специалиста по массажу с помощью специальных аппаратов или определенных приемов, которые проводятся в профилактических или лечебных целях. Во время процедуры массажист использует специальное масло для массажа. В нашем салоне вы сможете воспользоваться услугами профессионального массажиста…</p>
</div>
          <div class="button-container-2">
    <span class="mas">ЗАПИСЬ</span>
  <button type="button" name="Hover">ЗАПИСЬ</button> 
      </div>
      </div>
    </div>

 </div>

</div>